# VS Code workspace files
.vscode/
eventpass-mobile/.vscode/

# Documentation files
*.md
!/README.md
!/eventpass-web/README.md

# Dependencies and build output
node_modules/
.next/
.expo/
dist/
coverage/
.env
.env.*
!.env.example
